{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<div class="column is-three-quarters">
    <div class="container">
        <h1>Crea una cuenta</h1>
    <p>Por favor, ingresa tus datos en el siguiente formulario</p>
        <form class="form" method="post">
            {% load widget_tweaks %}
            
            <div class="field">
                {{ user_form.username.label_tag }}
                {% render_field user_form.username class="input mt-2" %}
            </div>

            <div class="field">
                {{ user_form.first_name.label_tag }}
                {% render_field user_form.first_name class="input mt-2" %}
            </div>

            <div class="field">
                {{ user_form.email.label_tag }}
                {% render_field user_form.email class="input mt-2" %}
            </div>

            <div class="field">
                {{ user_form.password.label_tag }}
                {% render_field user_form.password class="input mt-2" %}
            </div>

            <div class="field">
                {{ user_form.password2.label_tag }}
                {% render_field user_form.password2 class="input mt-2" %}
            </div>

            {% csrf_token %}
            <div class="field">
                <input type="submit" value="Crear cuenta" class="button is-primary mt-2">
            </div>
        </form>
    </div>
    
</div>
<ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
{% endblock %}