{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <!--<link rel="stylesheet" href="css/styles2.css">-->
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="#">Smart Tutor</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="about.html">Acerca de</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}"> Ir al Dashboard</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" >Iniciar Sesión</a></li>
                    <li><a href="{% url 'register' %}"> Registrarse</a></li>
                {% endif %}
            
        </ul>
        <div class="navbar-toggle" id="navbar-toggle">
            &#9776;
        </div>

        {% if request.user.is_authenticated %} 
        <div id="navbarBasicExample" class="navbar-menu">
            </div>
            {% if request.user.is_authenticated %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <p class="mr-2">
                            Hello, {{ request.user.first_name|default:request.user.username }}
                        </p>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="button is-light">Log out</button>
                        </form>
                        <!-- CAMBIE EL ENLACE DE TEXTO POR UN BOTON YA QUE DJANGO EXIGE QUE EL logout SE HAGA POR POST POR CUESTIONES DE SEGURIDAD
                        <p>
                            Hello, {{ request.user.first_name|default:request.user.username }},
                            <a class="" href="{% url 'logout' %}">
                                <strong>Log out</strong>
                            </a>
                        </p>
                        -->
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </nav>   
    <div id="columns">
        {% block content %}
        {% endblock %}
    </div>         
</body>
</html>